<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="css/style.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta name="description" content="USYD WAM Calculator">
        <meta name="author" content="invinceyble">
        <title>WAM Calculator</title>
    </head>
    <body>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="uploaded_file" accept=".csv, .xlsx, .xls, .pdf">
            <input type="submit">
        </form>
        Hello, your WAM is {{data['WAM']}}
    </body>
</html>

